:root {
  color-scheme: light dark;
  --bg-color: light-dark(whitesmoke, #111);
  --bg-color-inverse: light-dark(#111, whitesmoke);
  --primary-text-color: light-dark(white, black);
  --primary-text-color-inverse: light-dark(black, white);
  --text-color: light-dark(black, #888);
  --text-color-inverse: light-dark(#888, black);
  --text-hover-color: light-dark(black, white);
  --text-hover-color-inverse: light-dark(white, black);
  --accent-color: light-dark(#444, #444);
  --primary-btn: light-dark(black, rgb(245, 245, 245));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background-color: transparent;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  overflow: hidden;
}

main {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h2 {
  margin: 0;
  margin-bottom: 14px;
}

.notes-empty {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: var(--text-color);
  text-align: center;
}

.notes-list {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  overflow-y: auto;
}

.notes-list[hidden],
.notes-empty[hidden],
.cancel-edit-btn[hidden] {
  display: none;
}

.notes-list-item {
  position: relative;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  transition: 180ms;
  cursor: pointer;
}

.notes-list-item:hover {
  background-color: rgba(245, 245, 245, 0.1);
}

.notes-list-item.editing {
  outline: 4px solid rgba(83, 234, 253, 0.75);
  background-color: rgba(245, 245, 245, 0.1);
}

.notes-list-item__content {
  flex-grow: 1;
  color: var(--text-color);
  width: 100%;
}

.notes-list-item__content-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes-actions {
  display: flex;
  align-items: center;
}

.notes-list-item__action {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0 2px;
}

.notes-list-item__action:hover {
  color: var(--text-hover-color);
}

.icon {
  width: 16px;
  height: 16px;
}

.notes-form {
  margin: 0;
  padding-top: 20px;
}

.notes-input-wrapper {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

#notes-input {
  flex-grow: 1;
  field-sizing: content;
  min-height: 1lh;
  max-height: calc(3lh + 24px);
  line-height: 1.4;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  padding: 12px;
  outline-color: #777;
  resize: none;
  overflow-y: auto;
}

#notes-input::placeholder {
  font-size: 0.95em;
}

#notes-input-submit {
  background-color: var(--primary-btn);
  border: none;
  border-radius: 20px;
  color: var(--primary-text-color);
  height: 40px;
  padding: 0 12px;
  cursor: pointer;
}

.cancel-edit-btn {
  font-size: 12px;
  color: var(--primary-text-color-inverse);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  padding: 4px 8px;
  margin-left: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 180ms;
  cursor: pointer;
}

.cancel-edit-btn:hover {
  background-color: rgba(245, 245, 245, 0.1);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-4px);
  }
}

.notes-list-item__indicator {
  position: absolute;
  left: 0;
  bottom: -22px;
  background-color: var(--bg-color-inverse);
  color: var(--text-color-inverse);
  border-radius: 6px;
  font-size: 0.95em;
  height: 20px;
  display: flex;
  align-items: center;
  padding-inline: 0.4rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(6px);
}

.notes-list-item__indicator.visible {
  animation: fadeInOut 1.5s ease-in-out forwards;
}
